@media screen and (max-width: 600px) {

    /* .profilepic-container {
        min-width: none;
        width: 150px;
        height: 150px;
    } */

    .profilepic-container img {
        width: 90%;
    }

    .profiletext-p1 {
        font-size: 5vw;
    }
    
    .profiletext-p2 {
        font-size: 10vw;
    }
    
    .profiletext-p3 {
        font-size: 5vw;
    }

    .btn {
        width: 40vw;
        font-size: 3vw;
    }
}

@media screen and (max-width: 830px) {

    .logo {
        font-size: 5vw;
        padding-bottom: 1vw;
    }

    .profilepic-container {
        width: 60%;
    }
    
    .profile-container {  
        flex-wrap: wrap;
    }

    .about-details-container {  
        flex-wrap: wrap;
    }

    .about-pic-container {
        width: 0px;
        height: 0px;
    }
    
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        width: 100vw;
        background-color: black;
    }

    .menu-links {
        display: inline-block;
    }

    .profile-container {
        padding-top: 15vh;
    }
}