/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Angkor&family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    background-image: url("assets/repeating_bg.jpg");
    background-repeat: repeat;

    /* changes background hue -- change the last value (0,1)*/
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.99); 
}

html {
    scroll-behavior: smooth;
}

/* GENERAL */

a,
.btn {
    transition: all 300ms ease;
}

.buffer {
    height: 30vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.content-container {
    display: flex;
    margin: 20vh auto;
    height: 70%;
    width: 90%;
    justify-content: center;

    /* for checking */
    border-color: white;
    border-style: solid;
}

/* DESKTOP NAV */

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 2rem;
    
    /* Scrolled Variables */
    height: 20vh;
    /* background-color: rgb(255, 0, 0); */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));
    opacity: 100%;
    transition: all 0.4s ease;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}


nav.scrolled{
    /* Scrolled Variables */
    height: 10vh;
    background-color: white;
    opacity: 98%;
    transition: all 0.4s ease;
    background-image: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

nav.scrolled .nav-links {
    font-size: 1.3rem;
}

nav.scrolled .logo {
    font-size: 2.1rem;
}

a {
    /* color: black; */
    text-decoration: none;
    text-decoration-color: white;
}

a,
.logo {
    color: white;
}

nav.scrolled a,
nav.scrolled .logo {
    color: black;
}

a:hover {
    /* color: grey; */
    font-size: 102%;
    text-decoration: underline;
}

.logo {
    font-size: 2.5rem;
    font-family: "Angkor", serif;
}

.logo:hover {
    cursor: default;
}

/* SECTIONS */

section {
    height: fit-content;
    min-height: 100vh;
    /* box-sizing: border-box; */
    /* min-height: fit-content; */
}

/* PROFILE SECTION */

#profile {
    min-height: 85vh;

    /* for checking */
    /* border-color: white;
    border-style: solid; */
}

.profile-container {
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    column-gap: 5rem;
    row-gap: 1rem;
}

.profilepic-container {
    display: flex;
    margin: auto 0;
    justify-content: center;
    
    /* for checking */
    /* border-color: white;
    border-style: solid; */
}

.profilepic-container img {
    max-width: 450px;
    min-width: 300px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: cover;
    object-position: 0 10%;

    /* for checking */
    /* border-color: white;
    border-style: solid; */
}

.profiletext-container {
    align-self: center;
    text-align: center;
    color: white;

    /* for checking */
    /* border-color: white;
    border-style: solid; */
}

.profiletext-container p {
    margin: 1rem 1rem;
    font-weight: 600;
}

.profiletext-p1 {
    text-align: center;
}


.profiletext-p2 {
    font-size: 3rem;
    text-align: center;
}

.profiletext-p3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(0, 0, 0) 0.1rem solid;
    background: rgb(255, 255, 255);
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
    background: rgb(53, 53, 53);
    color: white;
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 10vh;
} 

.about-container {
    padding-top: 13vh;
}

.about-introtext-p1 {
    text-align: center;
}

.about-introtext-p2 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

.about-details-container {   
    row-gap: 0.5rem;
    column-gap: 2.5rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    /* flex-wrap: wrap; */
    
    /* border-color: yellow;
    border-style: solid; */
}

.about-pic-container {
    justify-content: center;
    display: flex;
    width: 10%;
    max-width: 450px;
    min-width: 270px;
    margin: auto 0;

    /* border-color: black;
    border-style: solid; */
}

.about-pic1 {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    object-fit: cover;
    object-position: 40% 100%;
}

.about-pic2 {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    object-fit: cover;
    object-position: 0 10%;
}

.about-information-container {
    display: table-column;
    justify-content: center;
    text-align: justify;
    width: 80%;
    min-width: 380px;
    max-width: 750px;
    margin: auto 0;

    /* border-color: black;
    border-style: solid; */
}

.about-information-title-container {
    display: flex;
    width: 100%;
    height: fit-content;

    /* color: black;
    border-style: solid; */
}

.about-information-title {
    display: table-column;
    margin: 10px auto;
    padding: 10px 0;
    width: 47%;
    text-align: center;
    border-radius: 1rem;

    color: black;
    border-style: solid;
}

.about-information-text {
    width: 100%;
    height: fit-content;
    padding-top: 10px;

    /* border-color: black;
    border-style: solid; */
}

/* PROJECTS SECTION */

#projects {
    background-color: #13e339;
} 

/* CONTACT SECTION */

#contact {
    background-color: #e313b2;
}